#box{
    background-color: white;
    text-align:center;
    color:red;
    text-decoration:underline;
    font-weight: 900;
    font-family : arial, roboto;
    line-height: 120px;
    width: 800px;



}

.heading{
color:red
}

button{
    background-color: green;

}


.capitalized-and-centred{
    text-align: center;
    text-transform: capitalize;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

#outer{
    font-size: 25px;
}

#inner{
    font-size: 10px;
}

.boxes{
    text-align: center;
    margin: 50px 50px 20px 200px;
    padding: 10px;
    height:100px;
    width:100px;
    
   background-color: yellow;
   border-width : 2px;
   border-style : solid;
   border-color : black;

   border:2px solid blue



}